html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  margin: 0;
}
button {
  cursor: pointer;
}
.center {
  justify-content: center;
  display: flex;
}
.b1-index {
  background-color: red;
  padding: 25px;
  margin: 6px;
  border: 0px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transition-duration: 0.4s;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.b1-index:hover {
  background-color: darkred;
}

.h1-norm-index {
  text-align: center;
  font-size: 60px;
}
.join-index {
  display: inline-block;
  padding: 16px 32px;
  background-color: rgb(200, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  color: white;
  transition-property: all;
  transition-duration: 0.1s;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 25%);
  font-size: 24px;
}
.join-index:hover {
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  transform: translateY(-1px);
  background-color: rgb(255, 0, 0);
}
#pin-screen-aboutus {
  position: fixed;
  color: lightblue;
  top: 7px;
  left: 1%;
  margin: 0px;
}
#pin-screen-contactus {
  position: fixed;
  color: lightblue;
  top: 7px;
  right: 1%;
  margin: 0px;
}
#head-bg { 
  background-image: url("hab1b1bg.png");
  background-size: cover;
  background-position: 50%;

} 
.top-bar {
  padding: 20;
}
.gray-text-overlaybg {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
