@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Patrick+Hand&display=swap");
* {
  font-family: "Patrick Hand";
}

h1 {
  text-align: center;
}
#website {
  text-align: center;
  font-size: 30px;
}
#socials {
  text-align: center;
  font-size: 30px;
}
.youtuber-b-s-0 {
  font-size: 29px;
  position: absolute;
  background-color: rgb(220, 0, 0);
  color: white;
  padding: 6px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 9px rgba(220, 0, 0, 0.55);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.youtuber-b-s-0:hover {
  box-shadow: 8px 8px 11px rgba(255, 60, 60, 0.55);
  background-color: rgb(255, 60, 60);
  top: 49.3%;
  left: 49.3%;
}
.reddstone35-b-w-0 {
  border: 20px;
  background-color: brown;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition-duration: 0.15s;
  border-color: brown;
  border-style: solid;
  border-width: 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reddstone35-b-w-0:hover {
  color: black;
  background-color: white;
}
